In [ ]:
cd ..

In [ ]:
ls

In [1]:
import pandas as pd
import lux

In [2]:
lux.config.default_display="lux"
lux.config.plotting_backend="matplotlib"

- tested short column header "A", "B", working as expected

In [3]:
tmax = pd.read_csv('https://raw.githubusercontent.com/koldunovn/python_for_geosciences/master/DelhiTmax.txt', delimiter=r"\s+", parse_dates=[[0,1,2]], header=None)
tmax.columns = ['Date', 'Temp']
tmax.intent = [lux.Clause("Date"),
    lux.Clause("Temp"),]
tmax
# tmax.columns

# from lux.vis.VisList import VisList
# vis = VisList([i for i in tmax.columns], tmax)
# vis

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/formatters.py:918: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py:618: UserWarning:Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 580, in _ipython_display_
    self.maintain_recs()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 437, in maintain_recs
    rec_df.show_all_column_vis()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 351, in show_all_column_vis
    quantitative_columns = [i for i in self.columns if self.columns[i].data_type == "quantitative"]
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 351, in <listcomp>
    quantitative_columns = [i for i in self.columns if self.columns[i].data_type == "quantitative"]
  File "/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 4297, in __getitem__
    return getitem(key)
IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

            Date  Temp
0     1944-01-01  22.2
1     1944-01-03  23.9
2     1944-01-04  22.2
3     1944-01-06  22.8
4     1944-01-07  22.2
...          ...   ...
15431 2015-02-24  28.6
15432 2015-02-25  28.6
15433 2015-02-26  27.6
15434 2015-02-27  27.6
15435 2015-02-28  29.2

[15436 rows x 2 columns]

In [4]:
df = pd.read_html(
        "https://archive.ics.uci.edu/ml/datasets.php?format=&task=&att=&area=&numAtt=&numIns=&type=&sort=nameUp&view=table"
    )[5]
df.columns = df.loc[0]
df = df.loc[1:]
df["Year"] = pd.to_datetime(df["Year"], format="%Y")
a = df[["# Instances", "# Attributes"]]
# a = a.dropna()
a

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/formatters.py:918: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py:617: UserWarning:Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 579, in _ipython_display_
    self.maintain_recs()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 437, in maintain_recs
    self._widget = rec_df.render_widget()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 666, in render_widget
    widgetJSON = self.to_JSON(self._rec_info, input_current_vis=input_current_vis)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 698, in to_JSON
    widget_spec["current_vis"] = LuxDataFrame.current_vis_to_JSON(
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 715, in current_vis_to_JSON
    current_vis_spec = vlist[0].to_code(language=lux.config.plotting_backend, prettyOutput=False)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/vis/Vis.py", line 313, in to_code
    return self._to_matplotlib_svg()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/vis/Vis.py", line 267, in _to_matplotlib_svg
    self._code = renderer.create_vis(self)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/vislib/matplotlib/MatplotlibRenderer.py", line 80, in create_vis
    chart = ScatterChart(vis, fig, ax)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/vislib/matplotlib/ScatterChart.py", line 34, in __init__
    super().__init__(vis, fig, ax)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/vislib/matplotlib/MatplotlibChart.py", line 39, in __init__
    self.chart = self.initialize_chart()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/vislib/matplotlib/ScatterChart.py", line 135, in initialize_chart
    self.ax.scatter(x_pts, y_pts, alpha=0.5)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/__init__.py", line 1447, in inner
    return func(ax, *map(sanitize_sequence, args), **kwargs)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/cbook/deprecation.py", line 411, in wrapper
    return func(*inner_args, **inner_kwargs)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axes/_axes.py", line 4432, in scatter
    self._process_unit_info(xdata=x, ydata=y, kwargs=kwargs)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axes/_base.py", line 2189, in _process_unit_info
    kwargs = _process_single_axis(xdata, self.xaxis, 'xunits', kwargs)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axes/_base.py", line 2172, in _process_single_axis
    axis.update_units(data)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axis.py", line 1466, in update_units
    default = self.converter.default_units(data, self)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/category.py", line 107, in default_units
    axis.set_units(UnitData(data))
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/category.py", line 176, in __init__
    self.update(data)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/category.py", line 211, in update
    cbook._check_isinstance((str, bytes), value=val)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/cbook/__init__.py", line 2246, in _check_isinstance
    raise TypeError(
TypeError: 'value' must be an instance of str or bytes, not a float

0   # Instances # Attributes
1          7840            5
2        434874            4
3          1984            8
4           232           16
5           590         8265
..          ...          ...
581        9800            3
582      120000      1000000
583        1956            5
584         303           56
585         101           17

[585 rows x 2 columns]

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/real_estate_tutorial.csv")
df["Month"] = pd.to_datetime(df["Month"], format="%m")
df["Year"] = pd.to_datetime(df["Year"], format="%Y")
df.intent = [
    lux.Clause("Year"),
    lux.Clause("PctForeclosured"),
    lux.Clause("City=Crofton"),
]
vis = df.recommendation["Similarity"][0]
# df.intent
vis.data
# vis

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/real_estate_tutorial.csv")
df["Month"] = pd.to_datetime(df["Month"], format="%m")
df["Year"] = pd.to_datetime(df["Year"], format="%Y")
df.intent = [
    lux.Clause("Year"),
    lux.Clause("PctForeclosured"),
    lux.Clause("City=Crofton"),
]
df
# vis = df.recommendation["Similarity"][0]
# vis
# vis.data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [5]:
df = pd.DataFrame({'nPts': {0: 49999, 1: 71174, 2: 101317, 3: 144224, 4: 205303, 5: 292249, 6: 416016, 7: 592198, 8: 842993, 9: 1200000}, 't_heatmap': {0: 0.15121674537658691, 1: 0.1811518669128418, 2: 0.2179429531097412, 3: 0.2787730693817139, 4: 0.3973350524902344, 5: 0.4233138561248779, 6: 0.580251932144165, 7: 0.7928099632263184, 8: 1.0876789093017578, 9: 1.6242818832397459}, 't_color_heatmap': {0: 0.14242982864379886, 1: 0.18866705894470212, 2: 0.1566781997680664, 3: 0.16737699508666992, 4: 0.19900894165039065, 5: 0.2701129913330078, 6: 0.2533812522888184, 7: 0.37183785438537603, 8: 0.3830866813659668, 9: 0.39321017265319824}, 't_bar': {0: 0.01940608024597168, 1: 0.02618718147277832, 2: 0.024693727493286133, 3: 0.029685020446777344, 4: 0.03471803665161133, 5: 0.04173588752746582, 6: 0.04706382751464844, 7: 0.0667569637298584, 8: 0.08260798454284668, 9: 0.1006929874420166}, 't_cbar': {0: 0.04185795783996582, 1: 0.050965070724487305, 2: 0.052091121673583984, 3: 0.0610501766204834, 4: 0.07504606246948242, 5: 0.09924101829528807, 6: 0.10392117500305176, 7: 0.13044309616088867, 8: 0.18137121200561526, 9: 0.2069528102874756}, 't_hist': {0: 0.01846003532409668, 1: 0.018136978149414062, 2: 0.018748998641967773, 3: 0.01876473426818848, 4: 0.02434706687927246, 5: 0.025368213653564453, 6: 0.02530217170715332, 7: 0.02823114395141602, 8: 0.029034852981567383, 9: 0.034781217575073235}, 't_scatter': {0: 0.8179378509521484, 1: 1.0982017517089844, 2: 1.4875690937042236, 3: 2.146117925643921, 4: 3.1123709678649902, 5: 3.92416787147522, 6: 6.097048044204713, 7: 8.803220987319945, 8: 12.054464101791382, 9: 17.740845680236816}, 't_color_scatter': {0: 1.3474130630493164, 1: 1.7953579425811768, 2: 2.6268541812896733, 3: 3.646371126174927, 4: 4.901940107345581, 5: 6.974237203598023, 6: 10.197483777999876, 7: 14.134275913238525, 8: 21.13951110839844, 9: 27.127063989639282}})
# df['time'] = pd.to_datetime(df['time'], format='')
# df.set_data_type({'time':'quantitative'})

pdf = df.melt(id_vars=["nPts"],value_vars=['t_heatmap', 't_color_heatmap', 't_bar', 't_cbar', 't_hist','t_scatter', 't_color_scatter'], var_name="type", value_name='t')
pdf
# pdf.dtypes
pdf.set_data_type({'time':'quantitative'})
pdf
# pdf.columns
# from lux.vis.VisList import VisList
# vis = VisList([i for i in pdf.columns], pdf)
# vis

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [4]:
df = pd.read_csv("../lux/data/car.csv")
# df.set_intent(["Horsepower", "Displacement"])
# df = df.select_dtypes(exclude=['string', 'object']).columns
# [i for i in df.dtypes if i != 'O']

# df = pd.DataFrame({
#     'a': ['a','b','c','d'], 
#     'b': [1, 'b', 'c', 2], 
#     'c': [1, 2, 3, 4], 
#     'd': ['A', 'B', 'B', 'A'], 
#     'e': pd.to_datetime('today')})
# [i for i in df.dtypes if i != 'str']
# df = df[["Year", "Displacement"]]
df.intent = ["Year"]
df
# df.current_vis[0].to_matplotlib_code()
# len(df.columns)

/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/executor/PandasExecutor.py:408: UserWarning:
Lux detects that the attribute 'Year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Pandas Datetime objects using the pd.to_datetime function and provide a 'format' parameter to specify the datetime format of the attribute.
For example, you can convert a year-only attribute (e.g., 1998, 1971, 1982) to Datetime type by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['Year'] = pd.to_datetime(df['Year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If Year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'Year':'quantitative'})
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/formatters.py:918: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py:617: UserWarning:Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 579, in _ipython_display_
    self.maintain_recs()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 436, in maintain_recs
    rec_df.show_all_column_vis()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 351, in show_all_column_vis
    curr_vis = Compiler.compile_intent(self, self.columns)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/processor/Compiler.py", line 87, in compile_intent
    if valid_intent and Validator.validate_intent(_inferred_intent, ldf, True):
  File "/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 2573, in __nonzero__
    raise ValueError(
ValueError: The truth value of a Index is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

,Name,MilesPerGal,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,Brand
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,1970,USA,chevrolet
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,1970,USA,buick
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,1970,USA,plymouth
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,1970,USA,amc
4,ford torino,17.0,8,302.0,140,3449,10.5,1970,USA,ford
...,...,...,...,...,...,...,...,...,...,...
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,1982,USA,ford
388,vw pickup,44.0,4,97.0,52,2130,24.6,1982,Europe,volkswagen
389,dodge rampage,32.0,4,135.0,84,2295,11.6,1982,USA,dodge
390,ford ranger,28.0,4,120.0,79,2625,18.6,1982,USA,ford
391,chevy s-10,31.0,4,119.0,82,2720,19.4,1982,USA,chevrolet

In [ ]:
df.recommendation

In [ ]:
df

In [ ]:
df.exported[0].to_matplotlib_code()

In [12]:

# import altair as alt
# alt.Chart(df).mark_bar().encode(
#     x=alt.X(longtitle, axis=alt.Axis(title=longtitle)),
#     y=alt.Y(df., axis=alt.Axis(title="Record"))
# )
import altair as alt
import pandas as pd
source = pd.DataFrame({
    'a': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],
    'b': [28, 55, 43, 91, 81, 53, 19, 87, 52]
})
chart = alt.Chart(source).mark_bar().encode(
    x=alt.X('a', axis=alt.Axis(labelOverlap=True)),
    y=alt.Y('b')
)
chart.encoding.x.axis.title = 'a...'
chart

alt.Chart(...)

In [ ]:
longtitle = 'Students across social identities have meaningful opportunities to demonstrate or access the above learning opportunities.'
longtitle2 = 'The teacher provides supports, encouragement, and opportunities equally well for all students in the class, across all sub-groups.'

In [ ]:
df.columns = df.columns.str.replace(".","")

In [ ]:
df

In [ ]:
df.rename(columns={longtitle:longtitle[:-1],longtitle2:longtitle2[:-1]})

In [ ]:
df.data_model