In [1]:
import psycopg2

In [2]:
from lux.executor.PandasExecutor import PandasExecutor
from lux.executor.SQLExecutor import SQLExecutor
from lux.utils import utils

In [3]:
conn = psycopg2.connect("dbname=adventureworks user=postgres password=dbadmin")

In [4]:
conn

In [5]:
import pandas as pd
import lux

In [6]:
test_df2 = pd.DataFrame()
test_df2.setExecutorType("SQL")

In [7]:
test_df2.setSQLConnection(conn, "HumanResources.employee")

In [8]:
test_df2.SQLconnection

In [9]:
test_df2.uniqueValues['gender']

['M', 'F']

In [10]:
test_df2.setContext(['vacationhours|sickleavehours', 'gender=M|F'])
test_df2.context

[Spec < description:,channel:,attribute:['vacationhours', 'sickleavehours'],aggregation:,value:>dataModel:,dataType:,binSize:0,
 Spec < description:,channel:,attribute:gender,aggregation:,value:['M', 'F']>dataModel:,dataType:,binSize:0]

In [11]:
test_df2.setContext([['vacationhours', 'sickleavehours'], 'gender=M'])
test_df2.context

[Spec < description:,channel:,attribute:['vacationhours', 'sickleavehours'],aggregation:,value:>dataModel:,dataType:,binSize:0,
 Spec < description:,channel:,attribute:gender,aggregation:,value:M>dataModel:,dataType:,binSize:0]

In [12]:
test_df2.setContext(['vacationhours', 'maritalstatus=?'])
test_df2.context

[Spec < description:,channel:,attribute:vacationhours,aggregation:,value:>dataModel:,dataType:,binSize:0,
 Spec < description:,channel:,attribute:maritalstatus,aggregation:,value:['M', 'S']>dataModel:,dataType:,binSize:0]

In [13]:
test_df2.columns

Index(['businessentityid', 'nationalidnumber', 'loginid', 'jobtitle',
       'birthdate', 'maritalstatus', 'gender', 'hiredate', 'salariedflag',
       'vacationhours', 'sickleavehours', 'currentflag', 'rowguid',
       'modifieddate', 'organizationnode'],
      dtype='object')

In [14]:
test_df2.setContext(['sickleavehours', 'maritalstatus=?'])
test_view = test_df2.viewCollection[0]
SQLExecutor.executeBinning(test_view, test_df2)

In [15]:
test_df3 = pd.DataFrame()
test_df3.setExecutorType("SQL")
test_df3.setSQLConnection(conn, "HumanResources.employee")

In [16]:
test_df3.setContext(['maritalstatus', 'vacationhours'])
test_df3.viewCollection

<ViewCollection: [<View: Mark: bar, Specs: [Spec < description:,channel:x,attribute:vacationhours,aggregation:mean,value:>dataModel:measure,dataType:quantitative,binSize:0, Spec < description:,channel:y,attribute:maritalstatus,aggregation:,value:>dataModel:dimension,dataType:nominal,binSize:0], Score:0.0>]>

In [17]:
test_df3.setContext(['maritalstatus', 'vacationhours'])
test_df3.viewCollection

<ViewCollection: [<View: Mark: bar, Specs: [Spec < description:,channel:x,attribute:vacationhours,aggregation:mean,value:>dataModel:measure,dataType:quantitative,binSize:0, Spec < description:,channel:y,attribute:maritalstatus,aggregation:,value:>dataModel:dimension,dataType:nominal,binSize:0], Score:0.0>]>

In [18]:
SQLExecutor.executeAggregate(test_df3.viewCollection[0], test_df3)

In [19]:
test_df3.columns

Index(['businessentityid', 'nationalidnumber', 'loginid', 'jobtitle',
       'birthdate', 'maritalstatus', 'gender', 'hiredate', 'salariedflag',
       'vacationhours', 'sickleavehours', 'currentflag', 'rowguid',
       'modifieddate', 'organizationnode'],
      dtype='object')

In [20]:
test_df3.setContext(['vacationhours'])
SQLExecutor.execute(test_df3.viewCollection, test_df3)

In [21]:
test_df3.dataTypeLookup

{'businessentityid': 'quantitative',
 'nationalidnumber': 'nominal',
 'loginid': 'nominal',
 'jobtitle': 'nominal',
 'birthdate': 'temporal',
 'maritalstatus': 'nominal',
 'gender': 'nominal',
 'hiredate': 'temporal',
 'salariedflag': 'nominal',
 'vacationhours': 'quantitative',
 'sickleavehours': 'quantitative',
 'currentflag': 'nominal',
 'rowguid': 'nominal',
 'modifieddate': 'temporal',
 'organizationnode': 'nominal'}

In [22]:
test_df3.viewCollection[0].data.toPandas()

   vacationhours  Count of Records (binned)
0            5.0                       31.0
1           15.0                       30.0
2           25.0                       30.0
3           35.0                       28.0
4           45.0                       30.0
5           55.0                       30.0
6           65.0                       28.0
7           75.0                       23.0
8           85.0                       30.0
9           95.0                       30.0