In [1]:
import pandas as pd
import lux

In [2]:
df = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(df)
df.columns=["A", "B", "C"]

In [3]:
df

Button(description='Toggle Pandas/Lux', disabled=True, layout=Layout(top='5px', width='140px'), style=ButtonStâ€¦

Output()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9