In [ ]:
cd ..

In [ ]:
ls

In [1]:
import pandas as pd
import lux

In [2]:
lux.config.default_display="lux"
lux.config.plotting_backend="matplotlib"

- tested short column header "A", "B", working as expected

In [3]:
tmax = pd.read_csv('https://raw.githubusercontent.com/koldunovn/python_for_geosciences/master/DelhiTmax.txt', delimiter=r"\s+", parse_dates=[[0,1,2]], header=None)
tmax.columns = ['Date', 'Temp']
tmax
# tmax.columns

# from lux.vis.VisList import VisList
# vis = VisList([i for i in tmax.columns], tmax)
# vis

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/real_estate_tutorial.csv")
df["Month"] = pd.to_datetime(df["Month"], format="%m")
df["Year"] = pd.to_datetime(df["Year"], format="%Y")
df.intent = [
    lux.Clause("Year"),
    lux.Clause("PctForeclosured"),
    lux.Clause("City=Crofton"),
]
vis = df.recommendation["Similarity"][0]
# df.intent
vis.data
# vis

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/real_estate_tutorial.csv")
df["Month"] = pd.to_datetime(df["Month"], format="%m")
df["Year"] = pd.to_datetime(df["Year"], format="%Y")
df.intent = [
    lux.Clause("Year"),
    lux.Clause("PctForeclosured"),
    lux.Clause("City=Crofton"),
]
df
# vis = df.recommendation["Similarity"][0]
# vis
# vis.data

In [ ]:
df = pd.DataFrame({'nPts': {0: 49999, 1: 71174, 2: 101317, 3: 144224, 4: 205303, 5: 292249, 6: 416016, 7: 592198, 8: 842993, 9: 1200000}, 't_heatmap': {0: 0.15121674537658691, 1: 0.1811518669128418, 2: 0.2179429531097412, 3: 0.2787730693817139, 4: 0.3973350524902344, 5: 0.4233138561248779, 6: 0.580251932144165, 7: 0.7928099632263184, 8: 1.0876789093017578, 9: 1.6242818832397459}, 't_color_heatmap': {0: 0.14242982864379886, 1: 0.18866705894470212, 2: 0.1566781997680664, 3: 0.16737699508666992, 4: 0.19900894165039065, 5: 0.2701129913330078, 6: 0.2533812522888184, 7: 0.37183785438537603, 8: 0.3830866813659668, 9: 0.39321017265319824}, 't_bar': {0: 0.01940608024597168, 1: 0.02618718147277832, 2: 0.024693727493286133, 3: 0.029685020446777344, 4: 0.03471803665161133, 5: 0.04173588752746582, 6: 0.04706382751464844, 7: 0.0667569637298584, 8: 0.08260798454284668, 9: 0.1006929874420166}, 't_cbar': {0: 0.04185795783996582, 1: 0.050965070724487305, 2: 0.052091121673583984, 3: 0.0610501766204834, 4: 0.07504606246948242, 5: 0.09924101829528807, 6: 0.10392117500305176, 7: 0.13044309616088867, 8: 0.18137121200561526, 9: 0.2069528102874756}, 't_hist': {0: 0.01846003532409668, 1: 0.018136978149414062, 2: 0.018748998641967773, 3: 0.01876473426818848, 4: 0.02434706687927246, 5: 0.025368213653564453, 6: 0.02530217170715332, 7: 0.02823114395141602, 8: 0.029034852981567383, 9: 0.034781217575073235}, 't_scatter': {0: 0.8179378509521484, 1: 1.0982017517089844, 2: 1.4875690937042236, 3: 2.146117925643921, 4: 3.1123709678649902, 5: 3.92416787147522, 6: 6.097048044204713, 7: 8.803220987319945, 8: 12.054464101791382, 9: 17.740845680236816}, 't_color_scatter': {0: 1.3474130630493164, 1: 1.7953579425811768, 2: 2.6268541812896733, 3: 3.646371126174927, 4: 4.901940107345581, 5: 6.974237203598023, 6: 10.197483777999876, 7: 14.134275913238525, 8: 21.13951110839844, 9: 27.127063989639282}})
# df['time'] = pd.to_datetime(df['time'], format='')
# df.set_data_type({'time':'quantitative'})

pdf = df.melt(id_vars=["nPts"],value_vars=['t_heatmap', 't_color_heatmap', 't_bar', 't_cbar', 't_hist','t_scatter', 't_color_scatter'], var_name="type", value_name='t')
pdf
# pdf.dtypes
pdf.set_data_type({'time':'quantitative'})
pdf
# pdf.columns
# from lux.vis.VisList import VisList
# vis = VisList([i for i in pdf.columns], pdf)
# vis

In [4]:
df = pd.read_csv("../lux/data/college.csv")
# df.set_intent(["Horsepower", "Displacement"])
# df = df.select_dtypes(exclude=['string', 'object']).columns
# [i for i in df.dtypes if i != 'O']

# df = pd.DataFrame({
#     'a': ['a','b','c','d'], 
#     'b': [1, 'b', 'c', 2], 
#     'c': [1, 2, 3, 4], 
#     'd': ['A', 'B', 'B', 'A'], 
#     'e': pd.to_datetime('today')})
# [i for i in df.dtypes if i != 'str']
# df = df[["Year", "Displacement"]]
# df.intent = ["Year"]
# df
# df.current_vis[0].to_matplotlib_code()
# len(df.columns)

groupbyResult = df.groupby("Region").sum()
groupbyResult

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/formatters.py:918: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py:613: UserWarning:Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 576, in _ipython_display_
    self.maintain_recs()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 435, in maintain_recs
    self._widget = rec_df.render_widget()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.3-py3.8.egg/lux/core/frame.py", line 663, in render_widget
    return luxwidget.LuxWidget(
  File "/opt/anaconda3/lib/python3.8/site-packages/luxwidget/widget.py", line 29, in __init__
    self.current_vis = currentVis
  File "/opt/anaconda3/lib/python3.8/site-packages/traitlets/traitlets.py", line 604, in __set__
    self.set(obj, value)
  File "/opt/anaconda3/lib/python3.8/site-packages/traitlets/traitlets.py", line 578, in set
    new_value = self._validate(obj, value)
  File "/opt/anaconda3/lib/python3.8/site-packages/traitlets/traitlets.py", line 610, in _validate
    value = self.validate(obj, value)
  File "/opt/anaconda3/lib/python3.8/site-packages/traitlets/traitlets.py", line 2951, in validate
    value = super(Dict, self).validate(obj, value)
  File "/opt/anaconda3/lib/python3.8/site-packages/traitlets/traitlets.py", line 1845, in validate
    self.error(obj, value)
  File "/opt/anaconda3/lib/python3.8/site-packages/traitlets/traitlets.py", line 690, in error
    raise TraitError(e)
traitlets.traitlets.TraitError: The 'current_vis' trait of a LuxWidget instance expected a dict, not the NoneType None.

,AdmissionRate,ACTMedian,SATAverage,AverageCost,Expenditure,AverageFacultySalary,MedianDebt,AverageAgeofEntry,MedianFamilyIncome,MedianEarnings
Region,,,,,,,,,,
Far West,71.8240,2796,127833,4266361,1493468,1049785,2027591.0,2642.530001,6056908.5,5010500
Great Lakes,146.6519,5047,230591,7139583,2135624,1535641,4088725.0,4827.380002,13754205.5,8241700
Great Plains,103.4594,3496,159868,4650422,1318285,987455,2613421.5,3307.630002,9260956.5,5532400
Mid-Atlantic,143.5166,5359,244029,8576547,2682305,1870441,4540801.5,4863.769985,15588469.0,10042700
New England,58.6137,2339,106550,3844821,1295818,873393,1857967.0,2062.410002,7039452.5,4371500
Rocky Mountains,27.0699,830,37832,851746,313560,262063,512864.5,801.000004,1643557.5,1313600
Southeast,222.2242,8002,369224,10164652,3059051,2399075,5770297.5,8101.919992,17715552.5,12410900
Southwest,61.9740,2107,97219,2534375,805715,682366,1395714.5,2154.990007,4216426.5,3545100

In [ ]:
df.recommendation

In [ ]:
df

In [ ]:
df.exported[0].to_matplotlib_code()

In [12]:

# import altair as alt
# alt.Chart(df).mark_bar().encode(
#     x=alt.X(longtitle, axis=alt.Axis(title=longtitle)),
#     y=alt.Y(df., axis=alt.Axis(title="Record"))
# )
import altair as alt
import pandas as pd
source = pd.DataFrame({
    'a': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],
    'b': [28, 55, 43, 91, 81, 53, 19, 87, 52]
})
chart = alt.Chart(source).mark_bar().encode(
    x=alt.X('a', axis=alt.Axis(labelOverlap=True)),
    y=alt.Y('b')
)
chart.encoding.x.axis.title = 'a...'
chart

alt.Chart(...)

In [ ]:
longtitle = 'Students across social identities have meaningful opportunities to demonstrate or access the above learning opportunities.'
longtitle2 = 'The teacher provides supports, encouragement, and opportunities equally well for all students in the class, across all sub-groups.'

In [ ]:
df.columns = df.columns.str.replace(".","")

In [ ]:
df

In [ ]:
df.rename(columns={longtitle:longtitle[:-1],longtitle2:longtitle2[:-1]})

In [ ]:
df.data_model