In [1]:
cd ..

/Users/caitlynachen/Desktop/luxresearch/lux

In [2]:
import pandas as pd
import lux

Load in a dataset of 392 different cars from 1970-1982:

In [3]:
df = pd.read_csv("lux/data/car.csv")
# df.setExecutorType("Pandas")
df["Year"] = pd.to_datetime(df["Year"], format='%Y') # change pandas dtype for the column "Year" to datetype
df.head().toPandas()

,Name,MilesPerGal,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140,3449,10.5,1970-01-01,USA

In [4]:
df

Button(description='Toggle Pandas/Lux', style=ButtonStyle())

Output()

Intuitively, we expect cars with more horsepower means higher acceleration, but we are actually seeing the opposite of that trend.
Let's learn more about whether there are additional factors that is affecting this relationship.

In [5]:
df.setContext([lux.Spec(attribute = "Acceleration"),lux.Spec(attribute = "Horsepower")])
df

/Users/caitlynachen/Desktop/luxresearch/lux/lux/compiler/Validator.py:50: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  checkValExists = spec.attribute in uniqueVals and spec.value in uniqueVals[spec.attribute]

Button(description='Toggle Pandas/Lux', style=ButtonStyle())

Output()

In Enhance, all the added variable (color), except MilesPerGal, shows a trend for the value being higher on the upper-left end, and value decreases towards the bottom-right.
Now given these three other variables, let's look at what the Displacement and Weight is like for different Cylinder cars.

In [6]:
# from lux.executor.PandasExecutor import PandasExecutor
df.setContext([lux.Spec(attribute = "Cylinders"), lux.Spec(attribute = "MilesPerGal")])
df

/Users/caitlynachen/Desktop/luxresearch/lux/lux/compiler/Validator.py:50: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  checkValExists = spec.attribute in uniqueVals and spec.value in uniqueVals[spec.attribute]

Button(description='Toggle Pandas/Lux', style=ButtonStyle())

Output()

In [7]:
df.setContext([lux.Spec(attribute = "Origin")])
df

Button(description='Toggle Pandas/Lux', style=ButtonStyle())

Output()

The Count distribution shows that there is not a lot of cars with 3 and 5 cylinders, so let's clean the data up to remove those.

In [8]:
df[df["Cylinders"]==3].toPandas()

,Name,MilesPerGal,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
70,mazda rx2 coupe,19.0,3,70.0,97,2330,13.5,1972-01-01,Japan
110,maxda rx3,18.0,3,70.0,90,2124,13.5,1973-01-01,Japan
241,mazda rx-4,21.5,3,80.0,110,2720,13.5,1977-01-01,Japan
331,mazda rx-7 gs,23.7,3,70.0,100,2420,12.5,1980-01-01,Japan

In [ ]:
df[df["Cylinders"]==5].toPandas()

In [ ]:
newdf = df[(df["Cylinders"]!=3) & (df["Cylinders"]!=5)]
newdf